<div class="contact-section">
    <div class="row">
        <div class="col">
            <div class="position-relative">
                <div>
                    <img class="w-100" src="../../assets/images/Contact-Us_Hero-Image-1-1280x640.jpg">
                </div>
                
                <div class="w-100 contact-boxes">
                    <!-- Boxes de Acoes -->
                    <div class="p-2 d-flex w-100 boxes">
                        <div class="container-width">
                            <div class="box">							
                                <div class="icon">
                                    <div class="image">
                                        <img src="../../assets/images/mail-icon.PNG" class="mail-icon">
                                    </div>
                                    <div class="info">
                                        <h3 class="title mt-3">MAIL</h3>
                                        <div class="mail-content"> 
                                            syberyinfotech@yahoo.com
                                        </div>
                                    </div>
                                </div>
                                <div class="space"></div>
                            </div> 
                        </div>
                            
                        <div class="ml-3 container-width">
                            <div class="box">							
                                <div class="icon">
                                    <div class="image"><img src="../../assets/images/contact-icon.PNG" class="mb-3"></div>
                                    <div class="info">
                                        <h3 class="title mt-3">CONTACT</h3>
                                        <div class="contact-number"> 
                                            9658888899
                                        </div>
                                    </div>
                                </div>
                                <div class="space"></div>
                            </div> 
                        </div>
                            
                        <div class="ml-3 container-width">
                            <div class="box">							
                                <div class="icon">
                                    <div class="image"><img src="../../assets/images/location-icon.PNG" class="mb-3"></div>
                                    <div class="info">
                                        <h3 class="title mt-3">ADDRESS</h3>
                                        <div class="address-content p-1"> 
                                             STATION BAZAR, COLLEGE SQUARE, CUTTACK-753003, ODISHA
                                        </div>
                                    </div>
                                </div>
                                <div class="space"></div>
                            </div> 
                        </div>
                    </div>		    
                    
                </div>
            </div>
            
        </div>
    </div>

</div>