<div class="portfolio-section d-none">
    <div class="container pt-2">
        <div>
            <h3 class="text-center portfolio-heading">Our Structural Project</h3>
            <hr class="amcLine">
        </div>
            
        <div class="portfolio-area" id="style-2">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="box8">
                        <img src="../../assets/images/rsz_apartment-buildings.jpg">
                        <h3 class="title">Apartment Block</h3>
                        <div class="box-content">
                            <ul class="icon d-none">
                                <li><a href="#"><i class="fa fa-search"></i> </a> </li>
                                <li><a href="#"><i class="fa fa-link"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box8">
                        <img src="../../assets/images/rsz_seascape-condominium.jpg">
                        <h3 class="title">Condominium</h3>
                        <div class="box-content">
                            <ul class="icon d-none">
                                <li><a href="#"><i class="fa fa-search"></i> </a> </li>
                                <li><a href="#"><i class="fa fa-link"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box8">
                        <img src="../../assets/images/rsz_unnamed.jpg">
                        <h3 class="title">Dormitory</h3>
                        <div class="box-content">
                            <ul class="icon d-none">
                                <li><a href="#"><i class="fa fa-search"></i> </a> </li>
                                <li><a href="#"><i class="fa fa-link"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row mt-3">
                <div class="col-md-4 col-sm-6">
                    <div class="box8">
                        <img src="../../assets/images/rsz_duplex-home-design-1024x682.jpg">
                        <h3 class="title">Duplex</h3>
                        <div class="box-content">
                            <ul class="icon d-none">
                                <li><a href="#"><i class="fa fa-search"></i> </a> </li>
                                <li><a href="#"><i class="fa fa-link"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box8">
                        <img src="../../assets/images/rsz_clifton-house-project-architecture_dezeen_hero-1.jpg">
                        <h3 class="title">House</h3>
                        <div class="box-content">
                            <ul class="icon d-none">
                                <li><a href="#"><i class="fa fa-search"></i> </a> </li>
                                <li><a href="#"><i class="fa fa-link"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box8">
                        <img src="../../assets/images/rsz_4037rd.jpg">
                        <h3 class="title">Attached Multi Unit Housing</h3>
                        <div class="box-content">
                            <ul class="icon d-none">
                                <li><a href="#"><i class="fa fa-search"></i> </a> </li>
                                <li><a href="#"><i class="fa fa-link"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row mt-3">
                <div class="col-md-4 col-sm-6">
                    <div class="box8">
                        <img src="../../assets/images/rsz_3ac056d8-3a1c-42be-b19e-dc9f43b9286c-moveable_house_koda-kodasema-1.jpg">
                        <h3 class="title">Movable Dwellings</h3>
                        <div class="box-content">
                            <ul class="icon d-none">
                                <li><a href="#"><i class="fa fa-search"></i> </a> </li>
                                <li><a href="#"><i class="fa fa-link"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box8">
                        <img src="../../assets/images/nursing.jpg">
                        <h3 class="title">Nursing Home</h3>
                        <div class="box-content">
                            <ul class="icon d-none">
                                <li><a href="#"><i class="fa fa-search"></i> </a> </li>
                                <li><a href="#"><i class="fa fa-link"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box8">
                        <img src="../../assets/images/villa.jpg">
                        <h3 class="title">Villa</h3>
                        <div class="box-content">
                            <ul class="icon d-none">
                                <li><a href="#"><i class="fa fa-search"></i> </a> </li>
                                <li><a href="#"><i class="fa fa-link"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>