.home-section{
  font-family: Lato; 
  height:40rem;
  overflow: hidden
}

.sliders {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 115rem ;
}